*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.0;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.verse {
    margin-top: 50px;
    color: blue;
    font-size: 20px;
    text-align: center;
}

.chorus {
    margin-top: 50px;
    text-align: center;
}